<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Chat Application</title>
  <link rel="stylesheet" href="/css/base_styles.min.css" />
  <link rel="stylesheet" href="/css/custom_styles.css" />
  <%- style %>
</head>
<body>
  <% if (locals.currentUser) { %>
    <%- include('./partials/account_bar') %>
  <% } %>

  <%- body %>

  <% if (flash.error) { %>
    <%- include('./partials/flash') %>
  <% } %>

  <script src="/js/libs/jquery-3.3.1.min.js"></script>
  <script src="/js/libs/deparam.js"></script>
  <script src="/js/app.js"></script>
  <%- script %>
</body>
</html>
